<ion-view view-title="Intro">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <h3>Thank you for choosing the LifeStyle App!</h3>
            <div id="logo">
                <img src="img/arsenal.jpeg" style="max-width: 250px;border-radius: 10px;">
            </div>
            <p>
                We've worked super hard to provide you a healthy lifestyle.
            </p>
        </ion-slide>
        <ion-slide>
            <h3>How to use LifeStyle Apps</h3>

            <div id="list" style="padding:50px;margin:0;font-size:100%;width: auto;">
                <h5>Just three steps:</h5>
                <ol>
                    <li>Press Continue on the next slide</li>
                    <li>Select Challenges from the Menu or from tab at bottom of the screen</li>
                    <li>Step 3 will be defined soon...</li>
                </ol>
            </div>
        </ion-slide>
        <ion-slide>
            <h3>Any questions?</h3>
            <br>
            <a ng-click="startApp()" style="font-size:20px;">
                Continue
            </a>
        </ion-slide>
    </ion-slide-box>
</ion-view>