<ion-view view-title="Timeline">
  <ion-content>
    <div style="padding:15px;">
      <h3>Your timeline workout</h3>
      <br>
      <p style="text-align: justify">
        Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..." "There is no
        one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..." Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Duis vestibulum lectus vitae neque maximus placerat. Proin in quam placerat,
        sollicitudin urna at, vestibulum nisl. Proin blandit augue et cursus elementum. Praesent efficitur purus ac arcu
        imperdiet, vitae ullamcorper quam malesuada. Proin eros eros, sollicitudin ut est id, porta tempus nunc. Maecenas
        maximus ex eget luctus accumsan. Sed purus lectus, accumsan a augue in, lacinia eleifend dolor. Praesent eu velit
        ornare, tristique velit non, ultrices dui. Donec libero nisi, commodo sit amet pellentesque non, vestibulum eu arcu.
        Mauris iaculis aliquam convallis. Etiam non turpis at eros ultrices maximus. Donec vitae nulla eget tellus dictum
        suscipit. Sed consectetur consequat diam ut elementum. Sed feugiat at nisi ac luctus.
      </p>
    </div>
  </ion-content>
  <div class="tabs-icon-top tabs-positive">
    <div class="tabs">
        <a class="tab-item" href="#/app/dashboard">
            <i class="icon ion-home"></i>
            Dashboard
        </a>
        <a class="tab-item active" href="#/app/timeline">
            <i class="icon ion-navicon-round"></i>
            Timeline
        </a>
        <a class="tab-item" href="#/app/near-by">
            <i class="icon ion-android-locate"></i>
            Nearyby
        </a>
        <a class="tab-item" href="#/app/challenges">
            <i class="icon ion-trophy"></i>
            Challenges
        </a>
    </div>
</ion-view>